In [1]:
import pandas as pd
from pandasql import sqldf
import sqlalchemy

In [2]:
cd

C:\Users\mojde

In [3]:
prices = pd.read_csv('prices.csv')
prices.head()

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown

In [4]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB

In [5]:
# Replace "dollars" with blan sapace and then, Convert the 'price' column to a numerical data type and
prices['price'] = pd.to_numeric(prices['price'].str.replace(' dollars', ''), errors='coerce')

In [19]:
#check if there's any rows conating the word dollar
prices.loc[prices['price'] == '225 dollars']

Empty DataFrame
Columns: [listing_id, price, nbhood_full]
Index: []

In [7]:
prices.astype({'price': 'int32'}).dtypes

listing_id      int64
price           int32
nbhood_full    object
dtype: object

In [8]:
reviews = pd.read_csv('reviews.csv')
reviews.head()

,Unnamed: 0,listing_id,host_name,last_review,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,booked_days_365
0,0,2595,Jennifer,2019-05-21 00:00:00,1,45,0.38,2,355,10
1,1,3831,LisaRoxanne,2019-07-05 00:00:00,1,270,4.64,1,194,171
2,2,5099,Chris,2019-06-22 00:00:00,3,74,0.59,1,129,236
3,3,5178,Shunichi,2019-06-24 00:00:00,2,430,3.47,1,220,145
4,4,5238,Ben,2019-06-09 00:00:00,1,160,1.33,4,188,177

In [9]:
reviews.astype({'number_of_reviews': 'int32'}).dtypes

Unnamed: 0                          int64
listing_id                          int64
host_name                          object
last_review                        object
minimum_nights                      int64
number_of_reviews                   int32
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
booked_days_365                     int64
dtype: object

In [10]:
room_types = pd.read_csv('room_types.csv')
room_types.head()

,Unnamed: 0,listing_id,description,room_type
0,0,2595,Skylit Midtown Castle,entire home/apt
1,1,3831,Cozy Entire Floor of Brownstone,entire home/apt
2,2,5099,Large Cozy 1 BR Apartment In Midtown East,entire home/apt
3,3,5178,Large Furnished Room Near B'way,private room
4,4,5238,Cute & Cozy Lower East Side 1 bdrm,entire home/apt

In [11]:


import pandas as pd

# Assuming you have two DataFrames: prices and reviews

# Calculate correlations
correlation_number_of_reviews = prices['price'].corr(reviews['number_of_reviews'])
correlation_reviews_per_month = prices['price'].corr(reviews['reviews_per_month'])

# Print the results
print("Correlation (number_of_reviews):", correlation_number_of_reviews)
print("Correlation (reviews_per_month):", correlation_reviews_per_month)

Correlation (number_of_reviews): -0.06046667472746895
Correlation (reviews_per_month): -0.0497316790187169

In [20]:
query = '''
SELECT AVG(price * number_of_reviews) / (STD(price) * STD(number_of_reviews)) AS correlation_number_of_reviews,
       AVG(price * reviews_per_month) / (STD(price) * STD(reviews_per_month)) AS correlation_reviews_per_month
FROM prices
JOIN reviews ON prices.listing_id = reviews.listing_id;
'''

In [21]:
result = sqldf(query)
result

PandaSQLException: (sqlite3.OperationalError) no such function: STD
[SQL:
SELECT AVG(price * number_of_reviews) / (STD(price) * STD(number_of_reviews)) AS correlation_number_of_reviews,
       AVG(price * reviews_per_month) / (STD(price) * STD(reviews_per_month)) AS correlation_reviews_per_month
FROM prices
JOIN reviews ON prices.listing_id = reviews.listing_id;
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

### result = sqldf(query)
Will return an error. We should either 
1. Be Connected to the databaseand so that SQLlight engine will calculate the CORR() function
OR
2. Calculate the Corr() directly as I did in cell 56.